:root {
    --primary-color: #2C3D63;
    --secondary-color: #AADCCA;
    --third-color: #FF6F5E;
    --base-color: #F7F8F3;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --about-base: #F1EEE5;
    --about-primary: #323B20;
    --about-secondary: #819C4B;
}

body {
    background-color: var(--base-color) !important;
}

.aboutBody {
    width: 60%;
    background: var(--primary-color) !important;
}

.workBody {

}

.frontSection {
    background-color: var(--primary-color);
}

.workSection {
    background: var(--primary-color);
}

.intro {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    background: var(--base-color);

}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    font-family: serif;
}

h1 {
    color: var(--third-color);
    font-size: 90px !important;
}

h2 {
    margin-top: 70px !important;
}

h3 {
    opacity: 0.7;
    color: white;
}

h4 {
    text-align: center;
}

.aboutH {
    color: var(--primary-color) !important;
}

.workH {
    font-size: 80px !important;
    text-align: start;
}

.frontPage {
    padding-bottom: 310px !important;
}

.about {
    color: var(--base-color);
}

#myWork {
    padding-bottom: 55px;
}

.first {
    color: var(--third-color);
}

p {
    background: white;
    padding: 20px 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    color: var(--primary-color);
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
}

.myWork-link {
    box-shadow: var(--box-shadow);
    background: var(--third-color);
    color: white;
    margin-right: 40px !important;
}

.myWork-link:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: white;
    transition: all 0.5s;
}

.about-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    margin-right: 40px !important;
}

.about-link:hover {
    background: var(--third-color);
    color: white;
    border: 1px solid var(--primary-color);
    transition: all 0.5s;
}

.contact-link {
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--primary-color);
    background-color: white;
}

.contact-link:hover {
    background: var(--primary-color);
    color: white;
    box-shadow: var(--box-shadow);
    transition: all 0.5s;
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.email-link {
    color: var(--base-color);
    text-decoration: none;
}

.email-link:hover {
    color: var(--third-color);
    text-decoration: underline;
}

.contact {
    display: flex;
    justify-content: center;
    color: var(--base-color);
    padding-top: 40px;
}

img {
    object-fit: cover !important;
}

.about-img {
   width: 700px;

}

.workimg {
    background: var(--primary-color);
    overflow: hidden;
}

.imgWork {
    width: 480px;
    height: 480px !important;
    object-position: 45%;
    opacity: 0.4;
}

.imgWork:hover {
    opacity: 0.2;
    transition: ease-in-out;
    cursor: pointer;
}

.workbox {
    height: 300px;
    align-self: center;
    border-radius: 10px;
    color: var(--third-color);
}

.weather-box {
    background: white;
    border-radius: 4px 4px;
    width: 400px;
    margin-top: 20px;
    color: var(--primary-color);
}

.photo-box {
    background: white;
    border-radius: 4px 4px;
    width: 400px;
    margin-bottom: 80px;
    margin-top: 55px;
    color: var(--primary-color);
}

.button {
    font-size: 12px;
    margin: 20px;
    border-radius: 5px;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    background: var(--third-color);
    box-shadow: var(--box-shadow);
    color: white;
    width: 180px;
    
}

.button:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: white;
    transition: all 0.5s;
}


@media (min-width: 900px) {
    .photo-box {
        margin-top: 170px;
        margin-left: 50px;
        margin-right: 15px;
    }
    .weather-box {
        margin-right: 50px;
        margin-left: 15px;
    }
    .about-size {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (max-width: 900px) {
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .navigation-links {
        flex-direction: row;
    }

    .myWork {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1000px) {
h1 {
        font-size: 70px !important;
        transition: all 0.4s;
    }
.about-size {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media (max-width: 780px) {
    h1 {
        font-size: 50px !important;
        transition: all 0.4s;
    }

.myWork-link {
    margin-right: 10px !important;
}

.about-link {
    margin-right: 10px !important;
}

}

.bottom {
    background: var(--base-color);
    color: var(--primary-color)
}

