:root {
    --primary-color: #2C3D63;
    --secondary-color: #AADCCA;
    --third-color: #FF6F5E;
    --base-color: #F7F8F3;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    margin: 60px auto;
    background-color: var(--base-color) !important;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    font-family: serif;
}

h1 {
    color: var(--third-color);
}

h2 {
    margin-top: 70px !important;
}

h3 {
    opacity: 0.7;
}

p {
    background: white;
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    box-shadow: 3px 3px 5px grey;
}

.intro {
    background: none;
    font-style: italic;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
}

.music {
        margin-left: 120px;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px 15px;
        text-decoration: none;
        text-transform: capitalize;
        background-color: var(--third-color);
        color: white;
}

.music:hover {
    background-color: white;
    color: var(--primary-color);
  
}

.about-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    margin-right: 40px !important;
}

.about-link:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: white;

}

.contact-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: 40px !important;
    background-color: white;
}

.contact-link:hover {
    background: var(--third-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    padding-top: 15px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

img {
    width: 600px !important;
    height: 400px !important;
    object-fit: contain !important;
}

.about-image {
    border-radius: 8px;
}

.about-box {
    background: var(--secondary-color);
    border-radius: 8px;
 
}


.button {
    font-size: 12px;
    margin: 20px;
    border-radius: 5px;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    width: 180px;

}

.button:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: white;
    transition: all 0.8s;
}

@media (max-width: 768px) {
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .navigation-links {
        flex-direction: row;
    }
}